<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
		<add name="MySqlDb" connectionString="Server=localhost;Database=test;User ID=root;Password=;Pooling=false" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.web>
		<customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
		<httpHandlers>
			<add path="API*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
		</httpHandlers>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
		<validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

</configuration>
